*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  font: inherit;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  min-width: 7rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto 0;
}

header {
  padding: 1rem;
  background-color: lightgray;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 2rem;
  font-weight: 600;

  & svg {
    width: 1em;
    height: auto;
    font-size: calc(3rem);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 20rem));
  justify-content: space-around;
  margin: 1rem;
}

.book {
  border-radius: 15px;
  padding: 2rem;
  border: 1px solid black;
  text-align: center;
}

.book__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.book__body {
  line-height: 1.5;
}

footer > * {
  display: flex;
}

.source-code::before {
  content: "|";
  margin: 0 1rem;
}

.source-code {
  display: flex;
}

.icon {
  margin-right: 0.25rem;
}
