*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  font: inherit;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  padding: 1rem;
  background-color: lightgray;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
}
